@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Inter;
}

.container {
    display: flex;
    background: rgba(217, 217, 217, 1);
    padding: 40px 60px;
    margin: 0 auto;
    width: 1200px;
    gap:20px;
}

img {
    width: 100%;
    height: 185px;
}

.card {
    display: flex;
    flex-direction: column;
    box-shadow:  1px 1px 0px  rgba(0, 0, 0, 0.2);


}

.content {
    margin: 0 15px;
}

.heading {
    font-size: 22px;
    font-weight: 300;
    padding-bottom: 20px;
    color: #000;
}

.person {
    padding-top: 10px;
    padding-left: 10px;
    width: 70px;
    height: 56px;
    border-radius: 50%;
    

}

.creator{
    display: flex;
}
.men {
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 10px;
}
.time{
    padding-top: 20px;
    padding-left: 60px;
    color: rgba(89, 89, 89, 1)
}



p {
    font-size: 16px;
    padding-bottom: 20px;
    color: rgba(89, 89, 89, 1)
}

hr {
    margin-right: 15px;
    height: 3.4px;
    background: #000;
}

h4 {
    color: rgba(89, 89, 89, 1);
    padding-bottom: 5px;

}